name: Lint

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  rubocop:
    name: Rubocop
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.4"
          bundler-cache: true
      - name: Lint
        run: bundle exec rubocop

